.header{
	background-color: $clr-blue;
	width: 100%;
	padding: 40px;
	box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, .2);
	&__wrapper{
		display: flex;
		justify-content: space-around;
		@include breakpoint($mq-mobile){
			flex-direction: column;
			align-items: center;
		}
	}
	&__text{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $clr-white;
	}
	&__img{
	}
	&__my-photo{
		width: 250px;
		background-size: contain;
		border-radius: 50%;
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
	}
	&__title{
		font-size: 40px;
		@include breakpoint($mq-mobile){
			font-size: 32px;
		}
	}
	&__subtitle{
		font-size: 26px;
	}
	&__contacts{
		font-size: 18px;
	}
}
